---
import { getCollection } from 'astro:content'
import AuthorCard from 'src/components/AuthorCard.astro'
import { siteConfig } from 'src/config/site-config'
import MainLayout from 'src/layouts/MainLayout.astro'

const authors = await getCollection('author')

---

<MainLayout title="Listado de autores">
	<section class="container mx-auto px-6 py-10">
		<h1 class="text-3xl font-semibold text-white capitalize lg:text-4xl mb-5">{siteConfig.title}</h1>
        <a class="border border-white rounded-lg px-2 py-1" href="/" onclick="history.back()">Regresar</a>
	</section>

	<section class="px-10 grid grid-cols-1 sm:grid-cols-2 gap-2">
        {
            authors.map((author) => (
                <AuthorCard author={author}
                />
            ))
        }
       
	</section>
</MainLayout>
